.calculator {
    display: flex;
    width: 500px;
    margin: auto;
    height: 700px;
    flex-direction: column;
    border: 2px solid black;

}

#display {
    display: flex;
    flex-direction: column;
    height: 150px;
    border: 2px solid black;
    padding-right: 10px;
}

#current {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 3;
    font-size: 50px;
}

#previous {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    font-size: 25px;
}

.buttons {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.row {
    display: flex;
    flex-grow: 1;
}

button {
    flex-grow: 1;
    width: 100px;
    font-size: large;
}

